.modal-custom {
    background: rgba(0,0,0,0.6);
}

.center-dialog-content {
    background-color: #6275969e;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    
    /*standard solution*/
    /*position: absolute;*/

    /*fix for inner modal which are in child elements*/
    position: fixed;
    right: 0px;
}

.transparent-div-around-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}
