<div class="students-and-groups-flex-container">
  <div class="top-of-students-and-groups-container">List of all students</div>
  <div class="left-side-of-students-and-groups-container">
    <p class="manageLine"><b>Manage students</b></p>
    <p class="manageLine"><small>Please continue and add new student</small></p>
    <!--Add student button-->
    <button type="button" class="add-students-and-groups-button btn-outline-secondary" (click)="onClickAddStudent()">
      <i class="fa fa-plus"></i><br>
      <span><small>Add student</small></span>
    </button>
  </div>

  <div class="right-side-of-students-and-groups-container">
    <p class="select select-right">Sort Students
      <select>
        <option value="by Name" (click)="sortBy('name')">by Name</option>
        <option value="By Id" (click)="sortBy('id')">By Id</option>
        <option value="By LastName" (click)="sortBy('lastName')">By LastName</option>
      </select>
    </p>
    <!--Students list-->
    <ul class="student-list">
      <li *ngFor="let student of students">
        <span class="badge">{{student.id}}.</span>
        {{student.firstName}} {{student.lastName}}
        <i class="fa fa-times pull-right" (click)="onClickRemoveStudent(student)"></i>
      </li>
    </ul>
  </div>
</div>

<app-confirmation-modal></app-confirmation-modal>
<app-add-student-modal></app-add-student-modal>
