<div class="students-and-groups-flex-container">
    <div class="top-of-students-and-groups-container">List of all groups</div>
    <div class="left-side-of-students-and-groups-container">
        <div class="right-flex">
            <label class="manageLine"><b>Manage student groups</b></label>
        </div>
        <p class="manageLine"><small>Please continue and add new group</small></p>
        <!--Add group button-->
        <button type="button" class="add-students-and-groups-button btn-outline-secondary" (click)="onClickAddNewGroup()">
            <i class="fa fa-plus"></i><br>
            <span><small>Add group</small></span>
        </button>
    </div>

    <div class="right-side-of-students-and-groups-container">
        <div class="right-flex">
            <!--Add student to group button-->
            <label (click)="onClickAddStudentToGroupGroup()">Add student to group</label>
            <div class="select-right">Sort Students
                <select (change)="changeWayOfSort($event)">
                    <option disabled selected value style="display:none"> select an option </option>
                    <option value="name">by Name</option>
                    <option value="id">by id</option>
                </select>
            </div>
        </div>


        <ul>
            <li class="" *ngFor="let groupExtended of groupsExtended">
                <div class="group-list-wraper">
                   <span class="badge"><b>{{groupExtended.id}}.</b></span>
                   {{groupExtended.name}}
                   <i class="fa fa-times pull-right" (click)="onClickRemoveGroup(group)"></i>
                </div>
              <ul>
                   <li class="student-in-grooup" *ngFor="let g of groupExtended.students">
                        {{g.id}}.  {{g.firstName}} {{g.lastName}}
                        <i class="fa fa-times pull-right" (click)="onClickRemoveStudentFromGroup(student, group)"></i>
                    </li> 
                </ul>
            </li>
        </ul>
    </div>
    <button (click)="setAllStudents()">Sett all students ID</button>
</div>

<app-confirmation-modal></app-confirmation-modal>
<app-add-group-modal></app-add-group-modal>
<app-add-student-to-group-modal></app-add-student-to-group-modal>
<app-confirmation-modal-remove-student-from-group></app-confirmation-modal-remove-student-from-group>