@import "~font-awesome/css/font-awesome.min.css";


body{
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
.container{
    display: flex;
    flex-wrap:wrap;
  }
.left{
  background-color: #303d4d;
  flex: 1;
  min-width: 220px;
  height: -webkit-fill-available;
}  
.hedline{
    color:white;
    text-align: center;
    padding: 10px;
}
.routerlink{
  background-color: #303d4d;
  color:white;
  display:block;
  padding: 14px 10px;
  text-decoration: none;
  margin: 0px;
}
.routerlink:hover, .active-link{
    background-color:#4497e7;
    text-decoration: none;
}
.right{
  flex:3;
  height: -webkit-fill-available;
}

/*students and groups style*/
.students-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.top{
  flex: 1 100%;
  background-color:#d2d7db;
  color:#6d6666;
  font-size: 19px;
  padding: 18px;
}
.left-side{
  background-color:#f7f7f7;
  flex:1 46%;
  padding:18px;
  height: -webkit-fill-available;
}
.manageLine{
  margin: 0px;
  color: #dde1e4;
}
.addButton{
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 170px;
  height: 119px;
  background-color: white;
  border: 2px solid grey;
}
.fa-plus{
  font-size: 45px;
}
.right-side{
  flex: 1 46%;
  padding:18px;
}
.right-flex{
 display:flex;
 justify-content: space-between; 
}
select{
  background-color:#d2d7db;
  border-radius: 20px; 
  margin-left: 7px;
}
.select-right{
  text-align: right;
}

.studentList{
  list-style-type: none;
  background-color: #d2d7db;
  margin-bottom: 5px;
  padding: 5px 10px;
  height: 35px;
}




